@import "../../../styles/variables.scss";

header {
  width: 100%;
  border-bottom: 1px solid $secondaryBackground;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;

  select {
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: Poppins, Mulish, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: $fontColor;
  }

  a {
    font-family: Poppins, Mulish, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .header-container {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .header-navigation {
      button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
      }
      .header-navigation-dropdown {
        position: absolute;
        left: 0;
        top: 50px;
        margin: 0;
        transition: 0.2s ease-out;
        width: 100%;
        overflow: hidden;
        background-color: #fff;
        border-bottom: 1px solid $secondaryBackground;


        ul {
          margin:0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 10px 0;

          li {
            text-align: center;
          }
        }
      }
      select {
        margin: auto;
        width: auto;
        padding: 0 5px;
      }

      .inactive {
        height: 0;
      }

      .active{
        height: 205px;
      }
    }

    .header-navigation-list {
      list-style-type: none;
      display: flex;
      gap: 50px;

      a {
        text-decoration: none;
        transition: color 0.2s ease-out;

        &:hover {
          transition: color 0.2s ease-out;
          color: $fontColor;
        }
      }

    }

    .header-logo {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: 768px) {
    select{
      color: $navMenuFontColor;
      option {
        color: $fontColor
      }
    }

    a {
      color: $navMenuFontColor;
    }

    .header-container {
      .header-logo {
        left: 20px;
      }
    }
  }
}


