@import "../../../styles/variables.scss";

.title-container {
  width: 100%;
  padding-top: 50px;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .title-wrapper {
    margin: auto;
    width: $pageWidth;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    .title-personal-info-wrapper {
      width: 100%;
      text-align: justify;

      h1 {
        font-family: Poppins, Mulish, sans-serif;
        font-size: 3rem;
        margin: 0 0 8px 0;

      }
      span {
        line-height: 30px;
        font-size: 1.05rem;
      }

      .social-media-wrapper {
        display: flex;
        gap: 15px;
        margin-top: 10px;
      }
    }

    .vector-wrapper {
      img {
        width: 300px;
      }
    }
  }

  @media (min-width: 768px) {
    .title-wrapper{
      .vector-wrapper {
        img {
          width: 500px;
        }
      }
    }
  }

  @media (min-width: 924px) {
    .title-wrapper{
      flex-direction: row;
      .vector-wrapper {
        img {
          width: 500px;
        }
      }
    }
  }

  @media (min-width: 924px) {
    .title-wrapper {
      .title-personal-info-wrapper {
        width: 35%;
      }

      .vector-wrapper {
        transform: translateX(50px);

        img {
          width: 600px;
        }
      }
    }
  }
}