@import "../../../styles/variables.scss";

.tech-stack-container {
  width: 100vw;
  background-color: $greenBackground;

  .tech-stack-wrapper {

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style-type: none;
      justify-content: center;
      gap: 150px;
    }

    li {
      height: 50px;
    }
  }
}