// Default page width

$pageWidth: 81vw;

// Dark font color

$fontColor: rgb(31, 31, 31);

// White background

$whiteBackground: #fff;

// Background colors

$greenBackground: #87cc9c;
$blueBackground: #35BECA;
$yellowBackground: #F6D450;
$orangeBackground: #F58639;