// Default page width

$titleWidth: 81vw;
$mobilePageWidth: 81vw;
$desktopPageWidth: 75vw;

// Dark font color

$fontColor: #3B3B3B;

// White background

$primaryBackground: #fff;
$secondaryBackground: #FAF8FF;

// Background colors

$greenBackground: #87cc9c;
$blueBackground: #35BECA;
$yellowBackground: #F6D450;
$orangeBackground: #F58639;

// Soft backshadow

$softShadow: 1px 1px 10px #8080808e;