// Default page width

$pageWidth: 81vw;

// White background

$whiteBackground: #fff;

// Background colors

$greenBackground: #83CA9E;
$blueBackground: #3DC0C6;
$yellowBackground: #F6D450;
$orangeBackground: #F47827;