@import '../../../styles/variables.scss';

.projects-container {
  width: $mobilePageWidth;
  margin: auto;
  padding: 100px 0;

  .projects-title {
    text-align: center;

    h4 {
      margin: 0;
      font-family: Poppins, Mulish, sans-serif;
      color: $blueBackground;
      font-size: 1.1rem;
    }

    h3 {
      margin: 5px 0;
      font-size: 1.2rem;
    }
  }

    .project-list-container {
      margin: 50px 0;
    }

    .project-wrapper {
      height: 850px;
      position: relative;
      max-width: 550px;

      .project-black-line {
        width: 2px;
        height: 100%;
        background-color: $greenBackground;
        border-radius: 15px;
      }

      .project-info {
        margin: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .project-vertical-line {
          width: 25px;
          height: 2px;
          background-color: $greenBackground;
          border-radius: 15px;
        }

        .project-info-description {
          margin-left: 10px;
          width: calc(100% - 40px);
          text-align: justify;

          h3, h5 {
            text-align: center;
            margin: 0 0 10px 0;
            font-family: Poppins, Mulish, sans-serif;
          }

          h3 {
            color: $blueBackground
          }

          h5 {
            margin-top: 20px;
          }

          p {
            margin: 0;
          }

          .project-info-photo {
            .project-screenshot {
              width: 100%;
              height: 150px;
              object-fit: cover;
              object-position: top;
              transition: object-position 8s ease-in-out;
              box-shadow: 1px 1px 10px 2px #8080808e;
              border-radius: 10px;
              img {
                border-radius: 10px;
              }

              &:hover {
                transition: object-position 8s ease-in-out;
                object-position: bottom;
              }
            }
          }

          h5 {
            text-align: center;
          }

          .project-technologies-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100px;
              height: 30px;
              border-radius: 5px;
              margin: 5px;
              box-shadow: 1px 1px 5px 2px #8080808e;
              font-weight: 500;
              text-align: center;
            }
          }

          .inline-link {
            border-bottom: 1px solid $greenBackground;
            cursor: pointer;

            &:hover {
              color: $greenBackground;
            }
          }

          span {
              display: flex;
              justify-content: center;
              gap: 30px;

              .project-link {
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 5px;

                &:hover {
                  filter: invert(86%) sepia(10%) saturate(1128%) hue-rotate(84deg) brightness(87%) contrast(87%);
                }
              }
          }
        }
      }
  }

  @media (min-width: 375px) {
    .project-wrapper {
      height: 720px;
    }
  }

  @media (min-width: 768px) {
    .project-wrapper {
      .project-info {
        .project-info-description {
          .project-info-photo {
            .project-screenshot {
              height: 250px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1240px) {
    width: $desktopPageWidth;

    .project-wrapper{
      max-width: none;
      height: 500px;

      .project-info {

        .project-info-description {
          display: flex;

          .project-info-photo {
            margin-right: 25px;
            .project-screenshot {
              width: 450px;
              height: 300px;
              margin-right: 25px;;
            }
          }
        }
      }
    }
  }
}