@import '../../../styles/variables.scss';

.cv-button-wrapper {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: $greenBackground;
  z-index: 99;

  a {
    text-decoration: none;
  }

  h2 {
    color: white;
    font-family: Poppins, Mulish, sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px 0 $greenBackground;
  }

  to {
    box-shadow: 0 0 10px 5px $greenBackground;
  }
}